body {
	/*background-color: blue;*/
	margin-left: 250px;
	margin-right: 250px;
	text-justify: inter-word;
}

p {
	/*background-color : red;*/
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.scriptButton {
	margin: 5px;
	float: left;
	color: black;
	text-align: center;
  text-decoration: none;
  display: inline-block;
	background-color: white;
}

#pasSerieux {
	visibility: hidden;
}
